* {
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: "Times New Roman", Georgia, Serif;
  padding: 1rem;
  background-color: #dfdfdf;
}

article {
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  padding: 2rem;
  background-color: white;
}

.blue {
  color: #3d9de9;
}

.dark-blue {
  color: #3c7db1;
}

header > .left {
  display: inline-block;
}

header > .left h1 {
  margin-bottom: 0;
}

header > .left > h3 {
  margin: 0.5rem;
}

header > .right {
  display: inline-block;
  float: right;
}

header > .left > .self-scrolling {
  overflow: hidden;
  max-height: 6em;
  position: relative;
  white-space: nowrap;
}

header > .left > .self-scrolling:hover > .self-scrolling--top {
  top: 0;
}

header > .left > .self-scrolling:hover > .self-scrolling--bottom {
  bottom: -150px;
}

header > .left > .self-scrolling > .self-scrolling--bottom {
  position: relative;
  bottom: 0;
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -ms-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

header > .left > .self-scrolling > .self-scrolling--top {
  position: absolute;
  top: 150px;
  -webkit-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -moz-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -o-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -ms-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.no-bullets {
  list-style: none;
}

li > h3 {
  display: inline-block;
}

li > p {
  display: inline-block;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  margin-bottom: .5rem;
}

p {
  font-size: 1.1rem;
  text-align: justify;
}

span {
  font-size: 1.1rem;
}

.summary > p {
  padding: 0 1rem;
  text-align: justify;
}

.technical-skills > ul {
  margin-top: 0;
}

.technical-skills-item > h3, .technical-skills-item > p {
  margin: 0.1rem;
}

.employment-history--li--left {
  display: inline-block;
  float: left;
  margin-right: 2em;
  min-width: 20%;
}

.employment-history--li--left > p {
  display: inline-block;
  margin: 0;
}

.employment-history--li--right {
  display: inline-block;
  max-width: 72%;
}

.employment-history--li--right > .company-name {
  display: inline-block;
  margin: 0;
}

.employment-history--li--right > span {
  display: inline-block;
  margin-left: 0.5em;
}

.employment-history--li--right--job-title > .role {
  margin-top: 0;
}

.language {
  display: inline-block;
  margin-right: 1em;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}

.language > img {
  height: 1em;
  display: inline-block;
  vertical-align: text-top;
}

/* =Smartphones till iPads
--------------------------------------------------------------------------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  html {
    font-size: .5rem;
  }

  body {
    padding: 0;
  }

  h4 {
    font-size: 0.7rem;
  }

  .employment-history--li--right {
    max-width: 100%;
  }

  span {
    font-size: 1rem;
  }
}

/* =Smartphones (portrait and landscape)
--------------------------------------------------------------------------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* =Smartphones (landscape)
--------------------------------------------------------------------------- */
@media only screen and (min-width : 321px) {
}

/* =Smartphones (portrait)
--------------------------------------------------------------------------- */
@media only screen and (max-width : 320px) {
}

/* =iPads (portrait and landscape)
--------------------------------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* =iPads (landscape)
--------------------------------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* =iPads (portrait)
--------------------------------------------------------------------------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* =Desktops and laptops
--------------------------------------------------------------------------- */
@media only screen and (min-width : 1224px) {
  body {
    text-align: center;
  }
  article {
    max-width: 70%;
    display: inline-block;
    text-align: left;
  }
}

/* =Large screens
--------------------------------------------------------------------------- */
@media only screen and (min-width : 1824px) {
  article {
    max-width: 50%;
  }
}

/* =iPhone 4
--------------------------------------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}