* {
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: "Times New Roman", Georgia, Serif;
  padding: 1rem;
  background-color: #dfdfdf;
}

article {
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  padding: 2rem;
  background-color: white;
  min-height: 100vh;
}

.blue {
  color: #3d9de9;
}

.dark-blue {
  color: #3c7db1;
}

.no-bullets {
  list-style: none;
}

li > h3 {
  display: inline-block;
}

li > p {
  display: inline-block;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  margin-bottom: .5rem;
}

p {
  font-size: 1.1rem;
  text-align: justify;
}

span {
  font-size: 1.1rem;
}